.intro{
	position:relative;
}
header{
	position:absolute;
	top:20px;
	left:139px;
	position:fixed;
}
.name{
	margin-right:441px;
	color:#FFFFFF;
	font-size:14px;
	font-family: SemiBold;
	width:85px;
	height:20px;
}
li>a{
	color:#FFFFFF;
	font-size:12px;
	font-family:Medium;
	height:17px;
}
.home{
	margin-right:50px;
	width:34px;
}
.rooms{
	margin-right:61px;
	width:44px;
}
.restaurant{
	margin-right:48px;
	width:76px;
}
.about{
	margin-right:49px;
	width:60px;
}
.blog{
	margin-right:50px;
	width:32px;
}
li: last-chiled{
	width:58px;
}
.resort{
	max-width:1366px;
	max-height:662px;
}
h1{
	position:absolute;
	top:209px;
	left:139px;
	width:576px;
	height: 160px;
	color:#FFFFFF;
	font-size:62px ;
	font-family: ExtraBold;
}
.description{
	position:absolute;
	top:389px;
	left:139px;
	width:352px;
	height: 64px;
	font-size:14px;
	font-family:Regular;
	color:#FFFFFF;
}
.sticky{
	position:absolute;
	top:572px;
	left:139px;
	/*width:122px;*/
	height:28px;
	color:#FFFFFF;
	font-size:20px;
	font-family:Bold;
	/*position:sticky;*/
}
.arrow-r{
	position:absolute;
	top:537px;
	right:139px;
	width:51px;
	height:51px;
	background: #5863F8;
}
.arrow-l{
	position:absolute;
	top:537px;
	right:190px;
	width:51px;
	height:51px;
	background: #FFFFFF;
	margin-right:0;
}
.arrow{
	width:14px;
	height:14px;
	margin:18px;
}
.d-block{
	display:inline-block;
}
.title{
	width:374px;
	height:115px;
	margin-top:70px;
	margin-left:126px;
	color:#000000;
	font-size:42px;
	font-family:ExtraBold;
}
.text1{
	width:444px;
	height:78px;
	margin-left:126px;
	margin-top:14px;
	font-size:16px;
	font-family:Medium;
	color:#000000;
}
.text2{
	width:444px;
	height:84px;
	margin-left:126px;
	margin-top:14px;
	font-size:14px;
	font-family:Regular;
	color:#000000;
}
/*span{
	font-size:14px;
	font-family:Regular;
	color:#FFFFFF;
	width:74px;
	height:20px;
	margin-right:10px;
}*/
.read-more{
	background: #5863F8;
	margin-left:136px;
	margin-top:36px;
	width:184px;
	height:50px;
}
.read-more>a{
	font-size:14px;
	font-family:Regular;
	color:#FFFFFF;
	margin-left:45px;
	margin-top:15px;
	/*margin:15px 45px;*/
}
